body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px !important;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #bac1c4;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #a6b2b4;
}

.content {
    padding: 15px;
    margin-left: 172px;
    height: 100vh;
    transition: 0.3s !important;
}

@media screen and (max-width: 780px) {
    .content {
        margin-left: 55px !important;
    }
    .admin.menu-setting .sidebar {
        width: 60px !important;
    }
}